@import "tailwindcss";

body {
  font-family: "Figtree", sans-serif;
}

.primary {
  color: #f7f0de;
}

.secondary {
  color: #009990;
}

.tertiary {
  color: #000000;
}

.bg-primary {
  background-color: #f7f0de;
}

.bg-secondary {
  background-color: #009990;
}

.bg-tertiary {
  background-color: #000000;
}

.sinhala-text {
  font-family: "Noto Sans Sinhala", sans-serif;
}

.font-figtree {
  font-family: "Figtree", sans-serif;

}

@font-face {
  font-family: "CodeNext-regular";
  src: url("./assets//fonts/CodeNext-Trial-Regular.ttf") format("truetype");
}

.font-CodeNext-regular {
  font-family: "CodeNext-regular", sans-serif;
}

